.blog-body {
  margin: 0;
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
  background: url("images/blog-background.jpg") center center / cover no-repeat fixed;
  height: 100vh;          
  overflow: hidden;       
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0;              
  display: flex;
  justify-content: center;      
  align-items: center;
  z-index: 10;
  pointer-events: none; 
  color: #fdf6ecc5;
}

header .logo {
  position: absolute;
  left: 40px;                   
  font-size: 14px;
  pointer-events: auto;
  color: #f0e7d6;
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  pointer-events: auto;
}

nav {
  pointer-events: auto;
}

nav a {
  margin: 0 15px;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0e7d6;
  pointer-events: auto;
}

header .icons span {
  margin-left: 15px;
  font-size: 14px;
  pointer-events: auto;
}

/* MAIN NOTEBOOK AREA */

.blog-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.notebook {
  position: relative;
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  top: 10%;         
  bottom: 20%;       
  width: 27%;      
  background: transparent;
  overflow: hidden;
}

.page-left {
  left: 17.5%;       
}

.page-right {
  right: 17.5%;
}

/*  SCROLL */

.page-scroll {
  font-family: "adobe-handwriting-ernie", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  padding: 0 26px;  
  overflow-y: auto;
  scrollbar-width: none;
}

.page-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.page-scroll p {
  margin: 0 0 12px 0;
  line-height: 1.55;
  font-size: 0.88rem;   
}

/*  FOOTER  */

.blog-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a2a2a;  
  text-align: center;
  padding: 8px 0 10px 0;
  z-index: 6;
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f8f4f0;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 0.12em;
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.blog-footer p {
  font-size: 11px;
  color: #f8f4f0;
  letter-spacing: 1px;
  margin-top: 6px;
  opacity: 0.9;
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 600;
  font-style: normal;
}