body {
    margin: 0;
    background: #111;
    font-family: "subway-berlin-sc", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #ddd;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0;              
  display: flex;
  justify-content: center;      
  align-items: center;
  z-index: 10;
  pointer-events: none; 
  color: #fdf6ecc5;
}

header .logo {
  position: absolute;
  left: 40px;                   
  font-size: 14px;
  pointer-events: auto;
  color: #f0e7d6;
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  pointer-events: auto;
}

nav {
  pointer-events: auto;
}

nav a {
  margin: 0 15px;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0e7d6;
  pointer-events: auto;
}

header .icons span {
  margin-left: 15px;
  font-size: 14px;
  pointer-events: auto;
}

/* HERO IMAGE */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url("images/city-skyline.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

/* CARDS */
.cards {
    padding: 80px 0 120px;
    display: flex;
    justify-content: center;
    gap: 70px;
    background: url("images/water-skyline.jpg");
    background-size: cover;
    background-position: unset;
    
}

.h3 {
    font-family: "subway-berlin-sc", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.p {
    font-family: "ink-free", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    width: 260px;
    padding: 30px;
    background: rgba(100, 120, 130, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 35px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(100, 120, 130, 0.30);
}

/* ICONS */
.card img {
    width: 250px;
    margin-bottom: 15px;
    opacity: 0.9;
    animation: spin 10s linear infinite;
    transform-origin: center center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }

}

.card h3 {
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 12px;
}

.card p {
    font-size: 13px;
    line-height: 1.4;
}

/* ===== FOOTER ===== */
.site-footer {
    width: 100%;
    padding: 40px 0 50px;
    text-align: center;
    color: #ccc;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(4px);
    margin-top: 80px;
}

.footer-nav {
    margin-bottom: 15px;
}

.footer-nav a {
    margin: 0 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: lowercase;
    transition: opacity 0.3s ease;
}

.footer-nav a:hover {
    opacity: 0.7;
}

.site-footer p {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
    opacity: 0.85;
}