html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;             
  overflow: hidden;          
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
}

.music-body {
  background-color: #3f0101;
  color: #f8f4f0;
}


/* HEADER  */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  pointer-events: none; 
  text-decoration: none;
  color:#f0e7d6;
}

header .logo {
  font-size: 14px;
  pointer-events: auto;
  text-decoration: none;
  color:#f0e7d6;
}

nav {
  pointer-events: auto;
  text-decoration: none;
  color:#f0e7d6;
}

nav a {
  margin: 0 15px;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: none;
  color:#f0e7d6;
}

header .icons span {
  margin-left: 15px;
  font-size: 14px;
  pointer-events: auto;
}

/* VINYL Position */

.hero-image {
          
  align-items: center;

}

/* spinning vinyl */
.vinyl {
  position: absolute;
  left:-20%;              
  top: -40%;               
  transform: translate(-50%, -50%) rotate(0deg); 
  width: 2000px;           
  height: 2000px;
  animation: spin 14s linear infinite;
  opacity: 0.95;
  z-index: 1;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


/*  RIGHT SIDE: ALBUMS  */

.music-layout {
  position: relative;
  height: 100vh;
}

.album-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;                
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
  padding-left: 40px;
  z-index: 5;


  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 45%
  );
}

.album-scroll {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* album rows */
.album-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #f0e7d6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* album cover images */
.album-card img {
  width: 160px;
  height: 160px;
  border-radius: 6px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* album text */
.album-text p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: right; 
  font-family: "ink-free", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5e9d7;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.h3 {
  font-family: "subway-berlin-sc", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #fdf1dc;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* hover effect */
.album-card:hover {
  transform: translateX(-5px);
}

.album-card:hover img {
  transform: scale(1.06);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}


/* FOOTER */

.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0 10px 0;
  z-index: 5;
  background-color: #044000aa;
}

.footer-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f8f4f0;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 0.12em;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.site-footer p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 6px;
  opacity: 0.85;
}
